@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  color: #777;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #e5588d;
  color: #fff;
}

* {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #192436;
}

h1 {
  font-size: clamp(1.5rem, 1.0026rem + 2.6531vw, 3.125rem);
}

h2 {
  font-size: clamp(1.625rem, 1.3189rem + 1.6327vw, 2.625rem);
  font-weight: 600;
}

h3 {
  font-size: clamp(1.625rem, 1.5867rem + 0.2041vw, 1.75rem);
}

h4 {
  font-size: clamp(1.25rem, 1.1735rem + 0.4082vw, 1.5rem);
}

h5 {
  font-size: clamp(1.125rem, 1.0867rem + 0.2041vw, 1.25rem);
}

p {
  font-size: clamp(0.875rem, 0.8367rem + 0.2041vw, 1rem);
}

#footer-category {
  background-color: #e5588d;
  color: white;
}
#footer-category .category-toogle {
  padding: 50px;
}
#footer-category .category-toogle .btn-footer-collapse {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
#footer-category .category-toogle .btn-footer-collapse::before {
  content: "+";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 10px;
}
#footer-category .category-toogle .minusBtn::before {
  content: "\f068";
}
#footer-category .category-toogle .category-accordion {
  background-color: #e5588d;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.7s ease;
}
#footer-category .category-toogle .category-accordion.active {
  max-height: 500px;
  margin-top: 30px;
  transition: all 0.9s ease;
}
#footer-category .category-toogle .category-accordion li {
  padding-bottom: 15px;
}
#footer-category .category-toogle .category-accordion li a {
  transition: all 0.7s;
}
#footer-category .category-toogle .category-accordion li a:hover {
  color: black;
  transition: all 0.7s;
}

#footer-top {
  background-color: #192436;
  padding: 70px 0px;
  color: rgba(255, 255, 255, 0.6);
}
#footer-top .booksore-icons {
  padding-right: 44px;
  padding-bottom: 25px;
}
#footer-top .booksore-icons .img-logo {
  padding-bottom: 35px;
}
#footer-top .booksore-icons .img-logo img {
  max-width: 220px;
}
#footer-top .booksore-icons .text {
  margin-bottom: 35px;
  line-height: 27px;
}
#footer-top .booksore-icons .social-media {
  margin-top: 30px;
}
#footer-top .booksore-icons .social-media ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#footer-top .booksore-icons .social-media ul li i {
  color: #e5588d;
  background-color: rgba(229, 88, 141, 0.1);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  border-radius: 100%;
  font-weight: 400;
  padding-left: 11px;
  transition: all 0.7s;
}
#footer-top .booksore-icons .social-media ul li i:hover {
  transition: all 0.7s;
  color: white;
  background-color: #e5588d;
}
#footer-top .links {
  padding-bottom: 25px;
}
#footer-top .links h5 {
  color: white;
  padding-bottom: 8px;
}
#footer-top .links li {
  padding-bottom: 10px;
}
#footer-top .links li i {
  cursor: pointer;
  padding-right: 5px;
  color: #e5588d;
}
#footer-top .links li a {
  transition: all 0.7s;
}
#footer-top .links li a:hover {
  transition: all 0.7s;
  color: #e5588d;
}
#footer-top .contacts h5 {
  color: white;
  padding-bottom: 20px;
}
#footer-top .contacts ul li {
  display: flex;
  padding-bottom: 20px;
}
#footer-top .contacts ul li i {
  font-size: 34px;
  line-height: 1;
  color: #e5588d;
  padding-right: 20px;
}
#footer-top .contacts ul li p {
  min-width: 170px;
}

@media screen and (max-width: 992px) {
  #footer-top .booksore-icons {
    text-align: center;
  }
  #footer-top .booksore-icons p {
    max-width: 550px;
  }
  #footer-top .booksore-icons .social-media ul {
    justify-content: center;
  }
  #footer-top .booksore-icons .social-media ul li i {
    padding-right: 10px;
  }
}
@media screen and (max-width: 460px) {
  #footer-top .links {
    font-size: 13px;
  }
  #footer-top .links h5 {
    font-size: 14px;
  }
  #footer-top .links li {
    min-width: 83px;
  }
}
#footer-bottom {
  background-color: #192436;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 28px 0;
  color: #a9a9a9;
  font-size: 15px;
}
#footer-bottom a {
  color: #e5588d;
}

@media screen and (max-width: 992px) {
  #footer-bottom p {
    text-align: center;
  }
}
#content-inner {
  padding-top: 70px;
  padding-bottom: 40px;
}
#content-inner .card-inner {
  margin-bottom: 20px;
  text-align: center;
}
#content-inner .card-inner .icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#content-inner .card-inner .icon-center .icon {
  width: 60px;
  height: 60px;
  margin-bottom: 31px;
  border-radius: 6px;
  background-color: rgba(229, 88, 141, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s;
}
#content-inner .card-inner .icon-center .icon i {
  font-size: 26px;
  color: #e5588d;
}
#content-inner .card-inner h5 {
  font-size: 20px;
}
#content-inner .card-inner:hover .icon {
  background-color: #e5588d;
  transition: all 0.9s;
}
#content-inner .card-inner:hover i {
  animation: shake 0.5s;
  color: white !important;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px) rotate(3deg);
  }
  40% {
    transform: translateX(5px) rotate(-3deg);
  }
  60% {
    transform: translateX(-5px) rotate(3deg);
  }
  80% {
    transform: translateX(5px) rotate(-3deg);
  }
  100% {
    transform: translateX(0);
  }
}

#our-mission {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgb(245, 245, 245);
}
#our-mission .section-head {
  text-align: center;
  margin-bottom: 40px;
}
#our-mission .section-head p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
#our-mission .mission-card {
  margin-bottom: 20px;
}
#our-mission .mission-card .content-mission {
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1.732px 60px 0px;
  background-color: rgb(255, 255, 255);
  padding: 45px;
  border-radius: 14px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  transition: all 0.8s ease 0s;
}
#our-mission .mission-card .content-mission .icon i {
  color: rgb(26, 22, 104);
  margin-bottom: 30px;
  vertical-align: middle;
  font-size: 60px;
  transition: all 0.3s;
}
#our-mission .mission-card .content-mission .content-text {
  overflow: hidden;
}
#our-mission .mission-card .content-mission .content-text h4 {
  font-size: 22px;
  margin-bottom: 15px;
}
#our-mission .mission-card .content-mission .content-text p {
  margin-bottom: 20px;
}
#our-mission .mission-card .content-mission .content-text a {
  font-size: 18px;
  font-weight: 600;
  color: #e5588d;
}
#our-mission .content-mission:hover {
  border: 2px solid #e5588d;
  transform: translateY(-20px);
}
#our-mission .content-mission:hover i {
  color: #e5588d !important;
  transition: all 0.3s;
}

#customers {
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: rgb(245, 245, 245);
}
#customers .testimonial .section-head {
  max-width: 700px;
  margin: 0 auto 40px;
  text-align: center;
}
#customers .testimonial .section-head .testimonial-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
#customers .swipper-container .customers-review {
  display: flex;
  align-items: center;
}
#customers .swipper-container .customers-review .customers-img img {
  border-radius: 6px;
}
#customers .swipper-container .customers-review .customers-info .info {
  font-size: 18px;
  font-style: italic;
}
#customers .swipper-container .customers-review .customers-info .details {
  margin-top: 10px;
  padding: 5px;
  position: relative;
}
#customers .swipper-container .customers-review .customers-info .details .fa-quote-right {
  color: #e5588d;
  position: absolute;
  z-index: 1;
  font-size: 105px;
  bottom: 0;
  right: 20px;
}
#customers .swipper-container .customers-review .customers-info .details .customers-name-position {
  margin-bottom: 5px;
  margin-top: 10px;
}
#customers .swipper-container .customers-review .customers-info .details .customers-name-position .possition {
  font-size: 15px;
}
#customers .swipper-container .customers-review .customers-info .details .raiting {
  display: flex;
  align-items: center;
  margin-top: 20px;
  line-height: 1;
}
#customers .swipper-container .customers-review .customers-info .details .raiting .raiting-star {
  display: flex;
}
#customers .swipper-container .customers-review .customers-info .details .raiting .rate {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  margin-left: 15px;
  color: #071c35;
}

@media screen and (max-width: 992px) {
  #customers .testimonial .section-head .testimonial-text {
    display: none;
  }
  #customers .swipper-container .customers-review {
    align-items: flex-start;
  }
  #customers .swipper-container .customers-review .customers-info .info {
    font-size: 15px;
  }
  #customers .swipper-container .customers-review .customers-info .details .fa-quote-right {
    font-size: 40px;
  }
  #customers .swipper-container .customers-review .customers-info .details .customers-name-position .namer {
    font-size: 14px;
  }
  #customers .swipper-container .customers-review .customers-info .details .customers-name-position .possition {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  #customers .testimonial .section-head .testimonial-text {
    display: none;
  }
  #customers .swipper-container .customers-review .customers-info .info {
    margin-top: 20px;
  }
}
#special-offers {
  padding-top: 60px;
  padding-bottom: 60px;
}
#special-offers .special-head {
  padding-bottom: 40px;
}
#special-offers .swiper-container .special-book-card .spesial-img img {
  border-radius: 6px 6px 0 0;
}
#special-offers .swiper-container .special-book-card .special-info {
  border: 1px solid #f0f0f0;
  padding: 33px 32px 30px;
  border-radius: 0 0 6px 6px;
}
#special-offers .swiper-container .special-book-card .special-info h4 {
  margin-bottom: 5px;
  font-weight: 600;
}
#special-offers .swiper-container .special-book-card .special-info .special-category {
  padding: 10px 0px;
}
#special-offers .swiper-container .special-book-card .special-info .special-category a {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  padding: 4px 8px;
  background-color: #f2f2f2;
  border-radius: 6px;
  color: #192436;
  transition: all 0.8s;
}
#special-offers .swiper-container .special-book-card .special-info .special-category a:hover {
  background-color: #e5588d;
  color: white;
  transition: all 0.8s;
}
#special-offers .swiper-container .special-book-card .special-info p {
  margin-top: 10px;
  margin-bottom: 1rem;
}
#special-offers .swiper-container .special-book-card .special-info .book-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#special-offers .swiper-container .special-book-card .special-info .book-card-footer .add-to-card {
  font-size: 14px;
  padding: 12.5px 20px;
  line-height: 1.5;
  display: inline-flex;
  border-radius: 6px;
  font-weight: 500;
  text-transform: capitalize;
  align-items: center;
  text-align: center;
  transition: all 0.2s;
  justify-content: center;
  color: #fff;
  background-color: #e5588d;
  gap: 10px;
}
#special-offers .swiper-container .special-book-card .special-info .book-card-footer .price-details span {
  font-size: 24px;
  font-weight: 600;
  color: #e5588d;
}

#paralax-section {
  background-image: url("https://bookland.wprdx.com/demo/wp-content/uploads/2022/09/bg1.jpg");
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
#paralax-section .background-paralax {
  border-radius: 20px;
  margin: 60px 0px;
  background-color: #192436;
  background-position: center;
  opacity: 0.8;
}
#paralax-section .background-paralax .content {
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#paralax-section .background-paralax .content .title-paralax h2 {
  color: white;
}
#paralax-section .background-paralax .content .email-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 72px;
  border: 1px solid #fff;
  border-radius: 10px;
}
#paralax-section .background-paralax .content .email-form input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
}
#paralax-section .background-paralax .content .email-form ::placeholder {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
#paralax-section .background-paralax .content .email-form .btn-sub {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 120px;
  background-color: #e5588d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#paralax-section .background-paralax .content .email-form .btn-sub a {
  text-align: center;
  font-size: 14px;
  color: white;
}
#paralax-section .background-paralax .content .email-form .btn-tele {
  display: none;
}

@media screen and (max-width: 1500px) {
  #paralax-section {
    max-width: 100%;
    border-radius: 0px;
  }
  #paralax-section .background-paralax {
    border-radius: 0px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 1000px) {
  #paralax-section .background-paralax .content {
    text-align: center;
  }
}
@media screen and (max-width: 568px) {
  #paralax-section .background-paralax .content .email-form .btn-sub {
    display: none;
  }
  #paralax-section .background-paralax .content .email-form .btn-tele {
    display: block;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    background-color: #e5588d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #paralax-section .background-paralax .content .email-form .btn-tele i {
    font-size: 30px;
    color: white;
  }
}
.swiper-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.swiper-card .book-card .img-book img {
  max-width: 100%;
  border-radius: 6px;
}
.swiper-card .book-card .content-book {
  text-align: center;
  margin-top: 10px;
}
.swiper-card .book-card .content-book h4 {
  line-height: 1.4;
  font-weight: 600;
  font-size: 1.25rem;
}
.swiper-card .book-card .content-book .price {
  color: #e5588d;
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}
.swiper-card .book-card .content-book .price del {
  font-size: 16px;
  font-weight: 400;
  color: #666;
  opacity: 0.9;
}
.swiper-card .book-card .content-book .add-to-card {
  font-size: 14px;
  padding: 12.5px 20px;
  line-height: 1.5;
  display: inline-flex;
  border-radius: 6px;
  font-weight: 500;
  text-transform: capitalize;
  align-items: center;
  text-align: center;
  transition: all 0.2s;
  justify-content: center;
  color: #fff;
  background-color: #1a1668;
  gap: 8px;
}
.swiper-card .book-card .content-book .add-to-card:hover i {
  animation: fadeInDown 0.5s;
  color: #fff;
}
.swiper-card .book-card .content-book .add-to-card:hover {
  background-color: #110e47;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}/*# sourceMappingURL=main.css.map */